@page "/employeedetails/{id}"
@page "/employeedetails"

@inherits EmployeeDetailsBase



@if (Employee == null)
{
    <div class="spinner"></div>
}
else
{
    <h3>@Coordinates</h3>
    <div class="card" style="min-width: 18rem; max-width:30.5%;">
        @*<img src="@Employee.PhotoPath" class="card-img-top imageThumbnail" @onmousemove=@MouseMove>*@
        <img src="@Employee.PhotoPath" class="card-img-top imageThumbnail" @onmousemove="@(e => Coordinates = $"x: {e.ClientX} - y: {e.ClientY}")">
        <div class="card-body">
            <h5 class="card-title">@Employee.FirstName @Employee.LastName  </h5>
            <p class="card-text">Employee Id: @Employee.EmployeeId</p>
            <p class="card-text">Email: @Employee.Email</p>
            <p class="card-text">Department: @(Employee.Department == null ? "N/A" : Employee.Department.DepartmentName)</p>
            <button class="btn btn-primary" @onclick="ToggleHideShowFooter">@ButtonText</button>
        </div>
        <div class="card-footer text-center @CssClass" >
            <a href="@($"employeedetails/{Employee.EmployeeId}")" class="btn btn-primary m-1">View</a>

            <a href="@($"editemployee/{Employee.EmployeeId}")" class="btn btn-primary m-1">Edit</a>

            <a href="#" class="btn btn-danger m-1">Delete</a>
        </div>
    </div>

}
