@page "/data-grid-filter"

@using EmployeeManagement.Client.Services
@using Syncfusion.Blazor.DropDowns
@using EmployeeManagement.Client.Utilities.DropdownList
@using FilterType = Syncfusion.Blazor.Grids.FilterType

<PageTitle>DataGrid Filters</PageTitle>

<div style="width:700px">
    <SfGrid @ref="employeeGrid" DataSource="@Employees" AllowFiltering="true" AllowPaging="true">
        <GridFilterSettings Type="FilterType.Menu"></GridFilterSettings>
        <GridColumns>
            <GridColumn FilterSettings="@(new FilterSettings { Type = FilterType.CheckBox })" Field=@nameof(Employee.EmployeeId) HeaderText="ID">
                <FilterItemTemplate>
                    @{
                        var filterContext = (context as FilterItemTemplateContext);
                        var filterValue = filterContext?.Value;
                        if (filterContext != null & Convert.ToInt32(filterValue) <= 9)
                        {
                            filterValue = "0" + filterValue;
                        }
                        @filterValue
                    }
                </FilterItemTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.LastName) HeaderText=" Last Name" FilterSettings="@(new FilterSettings { Type = FilterType.Excel})"></GridColumn>
            <GridColumn Field=@nameof(Employee.DateOfBrith) HeaderText="Date of Birth"></GridColumn>
            <GridColumn Field=@nameof(Employee.Gender) HeaderText="Gender">
                <FilterTemplate>
                    <SfDropDownList Placeholder="All" DataSource="@GenderDropdownSource" TItem="DropDownListItem" TValue="string">
                        <DropDownListFieldSettings Value="Value" Text="Text"></DropDownListFieldSettings>
                        <DropDownListEvents TItem="DropDownListItem" TValue="string" ValueChange="@GenderSelectionChanged"></DropDownListEvents>
                    </SfDropDownList>
                </FilterTemplate>
            </GridColumn>
            <GridColumn AllowFiltering="false" Field=@nameof(Employee.Email) HeaderText="Email"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>


@code{
    public SfGrid<Employee> employeeGrid { get; set; }

    [Inject] IEmployeeService EmployeeService { get; set; }
    private List<Employee> Employees { get; set; }

    private List<DropDownListItem> GenderDropdownSource = EnumHelper.ConvertEnumToDropDownSource<Gender>("All", "All");

    protected override async Task OnInitializedAsync()
    {
        Employees = (await EmployeeService.GetEmployees()).ToList();
    }


    private async Task GenderSelectionChanged(ChangeEventArgs<string, DropDownListItem> args)
    {
        if (args.Value == "All")
        {
            await employeeGrid.ClearFilteringAsync("Gender");
        }
        else
        {
            await employeeGrid.FilterByColumnAsync("Gender", "equal", args.Value);
        }
    }

}